SOAPNodes/DBInteract_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/DBInteract/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/DBInteract/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element ibmSchExtn:docRoot="true" name="DBInteract">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ID" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="DBInteractResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="ID" type="xsd:int"/>
          	<xsd:element name="NAME" type="xsd:string"/>
          	<xsd:element name="CITY" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>